[Unit]
Description=grokh.com/torileq/
ConditionPathExists=/home/trance/go/src/github.com/grokh/gobot
After=network.target

[Service]
Type=simple
User=trance
Group=trance

WorkingDirectory=/home/trance/go/src/github.com/grokh/gobot
ExecStart=/home/trance/go/bin/gobot -port 8080

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
