[Unit]
Description=grokh.com/torileq/
ConditionPathExists=/srv/web/torileq
After=network.target

[Service]
Type=simple
User=trance
Group=trance

WorkingDirectory=/srv/web/torileq
ExecStart=/srv/web/torileq/gobot -port 8080

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
