<!DOCTYPE html>

<html lang="en-US">
<head>
	<title>TorilEQ 2.0 - TorilMUD Equipment Database</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Database of item stats for the game TorilMUD." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/torileq/style.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="/torileq/form.js"></script>
	<link rel="shortcut icon" href="/torileq/favicon.ico" type="image/vnd.microsoft.icon" />
</head>
<body>
	<h1><a href="https://www.grokh.com/torileq/">TorilEQ 2.0 - TorilMUD Equipment Database</a></h1>
	<p>Items Updated: {{.Date}} - Alternate: <a href="https://toril.utopiaprogramming.com/">https://toril.utopiaprogramming.com/</a></p>
	<form action="#" name="searchForm" id="searchForm" method="post">
		<input type="hidden" name="exactItem" id="exactItem" />
		<p><label for="itemName">Item name: </label><input type="text" size="45" maxlength="80" name="itemName" id="itemName" /></p>
		<p><label for="zoneName">Zone name: </label>
			<select name="zoneName" id="zoneName"><option value=""></option>
				{{range .Zones}}<option value="{{.ZoneAbbr}}">{{.ZoneDisp}}</option>
				{{end}}
			</select>
		</p>
		<p><label for="attrib1">Attribute 1: </label>
            <select name="attrib1" id="attrib1"><option value=""></option>
					<!--				<option value="AC">AC</option>-->
                {{range .Attribs}}<option value="{{.AttAbbr}}">{{.AttDisp}}</option>
				{{end}}
            </select>
            <select name="compareAttrib1" id="compareAttrib1"><option value=""></option>
                <option value="gt">greater than</option>
                <option value="lt">less than</option>
                <option value="et">equal to</option>
            </select>
            <input type="text" size="5" maxlength="5" name="valueAttrib1" id="valueAttrib1" />
        </p>
		<p><label for="attrib2">Attribute 2: </label>
            <select name="attrib2" id="attrib2"><option value=""></option>
				<!--	<option value="AC">AC</option>-->
				{{range .Attribs}}<option value="{{.AttAbbr}}">{{.AttDisp}}</option>
				{{end}}
            </select>
            <select name="compareAttrib2" id="compareAttrib2"><option value=""></option>
                <option value="gt">greater than</option>
                <option value="lt">less than</option>
                <option value="et">equal to</option>
            </select>
            <input type="text" size="5" maxlength="5" name="valueAttrib2" id="valueAttrib2" />
        </p>
		<p><label for="worn">Worn Slot: </label>
            <select name="worn" id="worn"><option value=""></option>
                {{range .Slots}}<option value="{{.SlotAbbr}}">{{.SlotDisp}}</option>
				{{end}}
            </select>
			<label for="type">Item Type: </label>
            <select name="type" id="type"><option value=""></option>
                {{range .Types}}<option value="{{.TypeAbbr}}">{{.TypeDisp}}</option>
				{{end}}
            </select>
        </p>
		<p><label for="orderBy">Order By: </label>
            <select name="orderBy" id="orderBy">
				<option value="name">Item Name</option>
                <option value="zone">Zone Name</option>
                <!--<option value="attrib1">Attribute 1</option>
                <option value="attrib2">Attribute 2</option>
				<option value="worn">Worn Slot</option>-->
                <option value="type">Item Type</option>
            </select>
            <select name="ascDesc" id="ascDesc">
                <option value="up">Ascending</option>
                <option value="down">Descending</option>
            </select>
        </p>
		<p>
			<a href="javascript:toggleLayer('restricts');">Restrictions</a> *
			<a href="javascript:toggleLayer('effects');">Effects</a> *
			<a href="javascript:toggleLayer('resists');">Resists</a> * 
			<a href="javascript:toggleLayer('other');">Other Flags</a> * 
			<a href="javascript:toggleLayer('paste');">Paste Items</a>
		</p>
        <div id="restricts" class="hide">
            <p>Usable By:</p>
            <p><label for="!fighter">Fighter </label><input type="checkbox" name="!fighter" id="!fighter" /> |
            <label for="!priest">Priest </label><input type="checkbox" name="!priest" id="!priest" /> |
            <label for="!thief">Rogue </label><input type="checkbox" name="!thief" id="!thief" /> |
            <label for="!mage">Mage </label><input type="checkbox" name="!mage" id="!mage" /> |
            <label for="!good">Good Align </label><input type="checkbox" name="!good" id="!good" /> |
            <label for="!neut">Neutral Align </label><input type="checkbox" name="!neut" id="!neut" /> |
            <label for="!evil">Evil Align </label><input type="checkbox" name="!evil" id="!evil" /> |
            <label for="!goodrace">Goodrace </label><input type="checkbox" name="!goodrace" id="!goodrace" /> |
            <label for="!evilrace">Evilrace </label><input type="checkbox" name="!evilrace" id="!evilrace" /> |
            <label for="!male">Male </label><input type="checkbox" name="!male" id="!male" /> |
            <label for="!female">Female </label><input type="checkbox" name="!female" id="!female" />
            </p>
        </div>
        <div id="effects" class="hide">
            <p>Item Effect:</p>
            <p>{{range .Effects}}<label for="{{.EffAbbr}}">{{.EffDisp}} </label><input type="checkbox" name="{{.EffAbbr}}" id="{{.EffAbbr}}" /> | 
			{{end}}</p>
        </div>
        <div id="resists" class="hide">
            <p>Resistances:</p>
            <p>{{range .Resists}}<label for="{{.ResAbbr}}">{{.ResDisp}} </label><input type="checkbox" name="{{.ResAbbr}}" id="{{.ResAbbr}}" /> | 
			{{end}}</p>
        </div>
        <div id="other" class="hide">
            <p>Other Flags:</p>
            <p>{{range .Flags}}<label for="{{.FlagAbbr}}">{{.FlagDisp}} </label><input type="checkbox" name="{{.FlagAbbr}}" id="{{.FlagAbbr}}" /> | 
			{{end}}{{range .Supps}}<label for="{{.SuppAbbr}}">{{.SuppDisp}} </label><input type="checkbox" name="{{.SuppAbbr}}" id="{{.SuppAbbr}}" /> | 
			{{end}}</p>
        </div>
		<div id="paste" class="hide">
        	<p>Output from 'glist', 'equip', 'auction list', 'inventory', 'look in bag', or 'storage list':</p>
        	<textarea cols="80" rows="15" name="list" id="list"></textarea>
		</div>
		<p><input type="submit" name="submit" id="submit" value="Search" /></p>
	</form>
	{{if .Results}}<h2>All Results ({{len .Results}}):</h2>
	{{end}}
	{{range .Results}}<p>{{.}}</p>
	{{else}}
	<div class="hide">
	<h2>News and Info</h2>
	<p>This equipment database is provided by Kegor, Nerun, Katumi, and the players of TorilMUD. The web interface was built by <a href="mailto:system@grokh.com">Todrael</a> and <a href="mailto:kristi.michaels@gmail.com">Katumi</a>. Visit the <a href="https://www.tapatalk.com/groups/triteriumbbs/">Triterium BBS</a> for instructions on how to get stats in-game. Mwrite stat updates and additions to Katumi.</p>
	<h3>Current features:</h3>
	<ul>
		<li>Item name search: can be any portion of the name in any order, ex. 'a silver spoon' or 'sil sp' or 'spo silv'.</li>
		<li>Full stats on first match, short-hand stats on all matches.</li>
		<li>Click on the item name in short-hand for full stats.</li>
	</ul>
	</div>
	{{end}}
</body>
</html>
