body {
	max-width: 57em;
	margin: auto;
}
body, input, option, select, textarea, div {
	font-family: monospace;
	color: #C0C0C0;
	background-color: black;
}
h1, h1 a, h2, h3, h4 {
	font-family: arial, sans-serif;
	color: #808000;
	text-decoration: none;
}
h1 a:hover {
	font-family: arial, sans-serif;
    color: #FFFF00;
    text-decoration: none;
}
p a {
	color: #008000;
	text-decoration: none;
}
p a:hover {
	color: #00FF00;
	text-decoration: none;
}
input.toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 0%;
	opacity: 0;
}
label.toggle {
	color: #008000;
}
label.toggle:hover {
	color: #00FF00;
	cursor: pointer;
}
.hide {
	display: none;
}
